.col {
  margin-top: 50px;
}

h3 {
  color: black;
  font-size: 20px;
  font-style: italic;
}

.btn.btn-danger.btn-lg {
  border-radius: 22px;
}

.btn.btn-outline-danger.btn-sm {
  border-radius: 22px;
}
