
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Thank you for your booking! Your Fabio, *I mean* <%= @tux.name %> is on its way to you!</h2>
      <br>
      <%= link_to 'Show me more amazing tuxes', tuxes_path, class: "btn btn-outline-danger btn-sm" %>
    </div>

    <div class="container">
      <div class="about us-box">
        <h5>About Turbo Tux</h5>
         <p>We are so excited for you to join our community Everything we do is with pure authenticity & commitment to the highest values. </p>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <br>
    </div>
  </div>
</div>
