
    <div class="form-card 2">
      <h2>Thank you for your booking! Your Fabio, *I mean* <%= @tux.name %> is on its way to you!</h2>
      <br>
      <%= link_to 'Show me more amazing tuxes', tuxes_path, class: "btn btn-outline-danger btn-sm" %>
    </div>




