.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
  font: bolder;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.rose {
  background-color: $redrose;
  opacity: 85%;
  color:rgb(235, 227, 228);
}
