<div class="border-bottom">
  <div class = "d-flex justify-content-between align-items-center container p-3">
    <p>My Bookings</p>
    <p>User Account</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <p>test col a</p>
    </div>
    <div class="col-6">
      <h1>Turbo Tux</h1>
      <h2>Channel Your Inner Fabio</h2>
   
      <p>Turbo tux, Berlin's first on demand tux delivery service for when you need it the most because every girls crazy about a sharp dressed man.</p>
      <a href="#" class="btn btn-primary">View Your Tux Now</a>
    </div>
  </div>
</div>

