<div class="border-bottom">
  <div class = "d-flex justify-content-between align-items-center container p-3">
    <%= link_to "Add a Turbo Tux", new_tux_path %>
    <p>User Account</p>
  </div>
</div>
<div class="container">
  <div class ="row">
  </div>
  <div class="row">
    <div class="col-6">
      <%= image_tag 'fabio_black.jpg' %>
    </div>
    <div class="col-6">
      <h1>Turbo Tux</h1>
      <h2><i>Channel Your Inner Fabio</i></h2>
      <p>Turbo tux, Berlin's first on demand tux delivery service for when you need it the most because every girls crazy about a sharp dressed man.</p>
      <%= link_to "View All Tuxes", tuxes_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>


